#TheftLocation {
    width: 300px;
}
#vstList {
    font-size: 1.1em;
    font-weight: bold;
}
#mapControls {
    padding: 10px;
    border: 1px solid #333;
    background-color: #090909;
}
#mapControlGuide {
    margin-bottom: 10px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding: 10px;
}
#markerGuide {
    padding: 10px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    background-color: #f4f5f6;
    display: none;
}
#mapCanvas {
    height: 400px;
    border: 1px solid #aaa;
}
#Registration {
    text-transform: uppercase;
}