@{
    ViewBag.Title = "Help Us";
}

<h1>Help Us</h1>

<div class="box">
    <p>
        SVD is a non-profit community effort. We need help from passionate people who are willing to give their free time to this cause. We need people to help us develop and spread the word, helping to get everybody on board.
    </p>
    <p>
        We’re looking for the following help right now:
    </p>

    <div class="indent">
        <h3 class="mt20">Graphic Designers</h3>
        <p class="indent">
            We need a cool look; a logo, something that can be splashed everywhere, i.e. across the site, on banners, adverts, flyers, stickers. Everywhere! We’re no designers so we need someone to help us out. Can you?
        </p>

        <h3 class="mt20">C# Developers</h3>
        <p class="indent">
            There’s a huge list of features already lined-up and waiting for a road-map. We need (ninja) C# developers who are experienced with ASP.NET, ideally MVC to help make SVD as awesome as we imagine it. SVD will be going open-source as well.
        </p>
    
        <h3 class="mt20">SQL Server Developers / Administrators</h3>
        <p class="indent">
            We’re going to be collecting a huge amount of data. We need people who can help us make sense of it all and help us engineer new features such as statistics, reports and other cool locational stuff. We also need to be able to grow and 
            ensure we can scale. If you can help us with our data, please contact us!
        </p>

        <h3 class="mt20">Marketing / Media Specialists</h3>
        <p class="indent">
            SVD needs constant promotion. We need people with either editorial publicity or marketing skills to help us get the word out, help build relationships with the industry and keep us visible.
        </p>

        <h3 class="mt20">Researchers / Development Specialists</h3>
        <p class="indent">
            We need to build solid relationships with industry associations and the authorities. We need to be registered to handle certain data (UK Data Protection Act for one) and need to work with vehicle licensing authorities the world over. 
            If you’ve got an eye for detail, research and can make sense of policy, then please drop us a line.
        </p>
    </div>
    <div class="highlightBox2 mt20 rounded">
        <h2>Yes I want to help!</h2>
        <div class="mb10 title">
            <a href="mailto:contact@stolenvehicledatabase.org">contact@stolenvehicledatabase.org</a>
        </div>
    </div>

</div>