@{
    ViewBag.Title = "About Us";
}
<h1>About SVD</h1>
<div class="content">
    <p>
         SVD has been formed out of the anguish and frustration from one too many people in the London biking community having their pride and joys stolen by undeserving criminals. It's hoped that
         SVD can be used by everyone around the world, whether you own a motorcycle, car, van, truck, perhaps even bicycles in the future, to both educate people on how to protect their vehicles, and to give people the tools they need to lobby for more support from authorities, governments and manufacturers.
    </p>
    <h3 class="mt20">The Team</h3>
    <p class="indent">
        SVD was designed and is operated by the team behind <a href="http://londonbikers.com">londonbikers.com</a>. As such it means <a href="http://mediapanther.com">Media Panther 
        Ltd</a> (UK company no. 06145443) is the custodian of SVD, though we see it as an open initiative and are looking to work with
        those who can contribute to the promotion and development of SVD. We are also interested in making SVD open-source when appropriate.
    </p>
    <h3 class="mt20">The Technology</h3>
    <p class="indent">
        We're geeks and we know some of you will be as well, so here's the deets: We've designed SVD using Microsoft ASP.net MVC 3 and the Razor engine, running on .NET framework 4. Behind the scenes, SQL Server 2008 R2 is used to store all the data. 
        The underlying application is written in C#.
    </p>
    <p class="indent">
        We're especially keen to work with people who are experts at data warehousing and api design. If you'd like to contribute design or development expertise, please get in 
        <a href="mailto:contact@stolenvehicledatabase.org">contact</a>.
    </p>
    <h3 class="mt20">Partners &amp; Sponsors</h3>
    <p class="indent">
        Without these people, SVD wouldn't be possible...
    </p>
    <ul>
        <li><a href="http://londonbikers.com" target="_blank">londonbikers.com</a></li>
        <li><a href="http://www.facebook.com/group.php?gid=415974705057" target="_blank">Motorcycle STOLEN! Facebook group</a></li>
    </ul>
    <div class="center">
        <a href="http://londonbikers.com" target="_blank"><img src="/content/images/logos/lb200.gif" alt="Media Panther Network" width="203" height="96" class="pr10" /></a>
        <div class="frame"><a href="http://www.facebook.com/group.php?gid=415974705057" target="_blank"><img src="/content/images/logos/msgroup.gif" alt="Media Panther Network" width="100" height="90" /></a></div>
    </div>
    
    <h3 class="mt20">Contact Us</h3>
    <p>
        Email us at <a href="mailto:contact@stolenvehicledatabase.org">contact@stolenvehicledatabase.org</a> if you've got anything to tell us!
    </p>

    <h3 class="mt20">Help Us</h3>
    <p>
        We need help. There's a lot we want to do and need your help to do it. <a href="/about/helpus">Find out how you could help</a>.
    </p>
</div>