@{
    ViewBag.Title = "Privacy";
}
<h1>Privacy Policy</h1>
<div class="content">
    <h3>Personal Information</h3>
    <p class="indent">
        At stolenvehicledatabase.org we take the privacy of our visitors and registered members very seriously. We do not collect personal information relating to our visitors unless that 
        information is provided to us. When you register with our website you will be asked to supply an email address and a username/password combination. This information will be retained by us.
    </p>
    <p class="indent">
        All information that we retain from visitors is processed and stored in accordance with the requirements of the UK Data Protection Act 1988. No information is shared with 
        anybody outside of the stolenvehicledatabase.org organisaiton.
    </p>
    <p class="indent">
        Your password is stored in an encrypted form within our systems and nobody at stolenvehicledatabase.org can decrypt it. Your email address is stored unencrypted, but we have taken sufficient steps as to
        assure security through a combination of physical, virtual and procedural steps.
    </p>
    <h3 class="mt20">Vehicle Information</h3>
    <p class="indent">
        When you submit a report to us for a stolen vehicle, the information we collect is retained by us. This submission results in a public profile being shown on our website for that vehicle report.
        The public page does not show any of your personal details. The vehicle registration mark is shown, if supplied, and through various methods of inquiry this could potentially be traced
        back to you, so if you are concerned about this, we recommend you do not provide this information to us.
    </p>
    <p class="indent">
        One aspect of the Stolen Vehicle Database (SVD) is data-collection for the purposes of reporting. Data you supply on your vehicle report will be included in this reporting data. None of your personal
        information will be included with this data. The report data is generally aggregated, but may at times include the vehicle registration mark. If you do not want this data to be included we recommend not providing
        this to us.
    </p>
    <p class="indent">
        We have plans to make the vehicle information we collect available to the public through both the website, and an API (Application Programming Interface), with the intention of allowing other people
        to use this data to proactively combat vehicle crime. No personal information will be shared, i.e. your email address.
    </p>
    <h3 class="mt20">Third Parties</h3>
    <p class="indent">
        At no time will your personal information, i.e. your email-address be shared or sold with/to anybody outside of the stolenvehicledatabase.org organisation.
    </p>
    <p class="indent">
        Vehicle data is not currently expected to be shared with other organisations, but it is not unreasonable to imagine scenarios in the future where vehicle information may be shared with third-party organisations (with the sole intention of reducing vehicle crime). 
        At no time though will personal information be shared, or sold.
    </p>
</div>