@{
    ViewBag.Title = "The Reasoning";
}

<h1>The Reasoning</h1>
<div class="content">
    <h3>What's it all about?</h3>
    <p>
         Our mission is to help reduce vehicle theft. We don't believe all is being done that could be done and we want to empower the people that are trying. It's that simple. We believe there's two ways this can be done.
    </p>
    <ol class="spaced mb20">
        <li><b class="smalltitle">Educate</b> people on what exactly is being stolen, where and how. We want to know what security products are worth our money, what locations are the worst to park in and with that information we can cut through the rubbish and see what is, and isn't working.</li>
        <li><b class="smalltitle">Empower</b> those campaigning on our behalf for better security, better theft-prevention, better policing and better vehicles/products. The way we can help here is to provide detailed information that they can use and will know is accurate. Perhaps you will want to get involved after seeing the data as well.</li>
    </ol>
    <h3 class="mt20">What's the benefit to me?</h3>
    <p>
        By listing your vehicle on SVD, you help everyone as the information is invaluable to educating people and for campaigning. On top of that, your vehicle gets a profile where you can promote it. Miracles do happen after-all.
    </p>
    <h3 class="mt20">What we don't promise</h3>
    <p>
        We don't promise that by listing your vehicle on SVD that it stands a better chance of it being returned. We're sorry for all those who lose their vehicles, and it does of course no doubt help by shouting about your vehicle, after-all we know of cases where once the word has got out far enough, leads have developed and vehicles have been returned to owners, but this isn't the rule.
    </p>
</div>